.footer__copyright {
  background-image: url(../../../images/©\ 2020\ Mesto\ Russia.png);
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 318px;
  height: 18px;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    height: 14px;
    }
  }